<div class="col-md-5">
    <div class="highlight">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Site Name</th>
                    <th>Contact Name</th>
                    <th>Date Received</th>
                </tr>
            </thead>
            <tbody *ngIf="homeProviderService.responderList && homeProviderService.responderList.length > 0" style="cursor:pointer">
                <tr *ngFor="let responder of homeProviderService.responderList" (click)="openResponder(responder)">
                    <td>{{responder.siteName}}</td>
                    <td>{{titlecasePipe.transform(responder.contactName)}}</td>
                    <td>{{responder.dateReceived | date: 'MM/dd/yyyy'}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="homeProviderService.loadingList">
                <tr>
                    <td>
                        <img src="../../../assets/images/loading_animation.gif" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody *ngIf="!homeProviderService.loadingList && (!homeProviderService.responderList || homeProviderService.responderList.length == 0)">
                <tr>
                    <td>No Responder found</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>