.edge {
    stroke: #ccc;
}

.node_txt {
    font-size: 14px;
    font-weight: bold;
    color: #458ace;
    font-family: 'Open Sans', sans-serif;
}

.node_cir_txt {
    font-size: 14px;
    font-weight: bold;
    color: #2f485f;
    font-family: 'Open Sans', sans-serif;
}

.node_txt_main {
    font-size: 18px;
    font-weight: bold;
    color: #2f485f;
    font-family: 'Open Sans', sans-serif;
}
